html {
	background-image: url(../img/background.jpg);
	box-shadow: inset 0 0 10px #000000;
	background-color: black;
	background-size: 100% 100%;
}
::selection {
	color: #f0ece8;
	background-color: #ef543f; 
}
body {
	font-family: 'Fjalla One', sans-serif;
}
* {box-sizing: border-box;}
nav {
    background-color: #f0ece8;
    padding: .5em;
	width: 100%;
	box-shadow: 0px 20px 60px black;
	box-shadow: inset 0px 0px 20px 1px #e7c5a6;
	margin: auto;
	text-align: center;
}
nav a {
	color: #ef543f;
	text-decoration: none;
	padding-left: 40px;
	padding-right: 40px;
	font-size: x-large;
}
nav a:hover {
	color: #e67a6b;
	/* text-shadow: 0px 0px 40px #ecb782; */
}
nav a:active {
	color: #ef543f;
}
nav a::selection {
	color: black;
}
nav ul {
	margin: 0;
    padding: 0;
    list-style: none;
 }
 .nav-right a {
	 float:right;
	 margin-top: -62px;
	 padding: 30px;
 }
 .nav-right button {
	float: right;
	margin-top: -62px;
	padding: 30px;
}
@media screen and (max-width: 480px) {
	nav a {
		float: none;
		width: 100%;
	}
	
}
@media screen and (min-width: 600px) {
	
}
.center-img {
	/* display:block; */
	margin-left: 45.3%;
	margin-top: 30px;
}
.container {
	margin: auto;
	margin-top: 30px;
	padding: 4rem;
	width: 48rem;
	border-style: solid;
	background-color: #f0ece8;
	border-color: #f0ece8;
	border-width: 5px;
	border-radius: 5px;
  }
  h2 {
	  font-size: 45px;
	  text-align: center;
  }
  h3 {
	font-size: 1.75rem;
	color: #373d51;
	padding: 1.3rem;
	margin: 0;
  }
  .accordion a {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	
	flex-direction: column;
	width: 100%;
	padding: 1rem 3rem 1rem 1rem;
	color: #7288a2;
	font-size: 1.15rem;
	font-weight: 400;
	border-bottom: 1px solid #e5e5e5;
  }
  .accordion a:hover,
  .accordion a:hover::after {
	cursor: pointer;
	color: #ff5353;
  }
  .accordion a:hover::after {
	border: 1px solid #ff5353;
  }
  .accordion a.active {
	color: #ff5353;
	border-bottom: 1px solid #ff5353;
  }
  .accordion a::after {
	font-family: 'Ionicons';
	content: '\f218';
	position: absolute;
	float: right;
	right: 1rem;
	font-size: 1rem;
	color: #7288a2;
	padding: 5px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid #7288a2;
	text-align: center;
  }
  .accordion a.active::after {
	font-family: 'Ionicons';
	content: '\f209';
	color: #ff5353;
	border: 1px solid #ff5353;
  }
  .accordion .content {
	opacity: 0;
	padding: 0 1rem;
	max-height: 0;
	border-bottom: 1px solid #e5e5e5;
	overflow: hidden;
	clear: both;
	transition: all 0.2s ease 0.15s;
  }
  .accordion .content p {
	font-size: 1rem;
	font-weight: 300;
  }
  .accordion .content.active {
	opacity: 1;
	padding: 1rem;
	max-height: 100%;
	transition: all 0.35s ease 0.15s;
  }
  h4 {
	font-size: 1.75rem;
	color: #373d51;
	padding: 1.3rem;
	margin: 0;
  }
  h5{
	font-size: 1.75rem;
	color: #373d51;
	padding: 1.3rem;
	margin: 0;
  }
  .form-container h4 {
	  color: black;
  }
  .shopping-cart-icon {
	width: 1.3%;
}