html {
	background-image: url(../img/background.jpg);
	box-shadow:         inset 0 0 10px #000000;
	background-color: black;
	color: #f1e8de;
	background-size: 100% 100%;
}
::selection {
	color: #f0ece8;
	background-color: #ef543f;
}
body {
	font-family: 'Fjalla One', sans-serif;
}
* {box-sizing: border-box;}
nav {
    background-color: #f0ece8;
    padding: .5em;
	width: 100%;
	box-shadow: 0px 20px 60px black;
	box-shadow: inset 0px 0px 20px 1px #e7c5a6;
}
nav a {
	color: #ef543f;
	text-decoration: none;
	padding-left: 40px;
	padding-right: 40px;
	font-size: x-large;
}
nav a:hover {
	color: #f0ece8;
	background-color: #ef543f;
}
nav a:active {
	color: black;
}
nav a::selection {
	color: black;
}
nav ul {
	margin: 0;
    padding: 0;
    list-style: none;
 }
@media screen and (max-width: 480px) {
	nav a {
		float: none;
		width: 100%;
	}
	
}
@media screen and (min-width: 600px) {
	
}

input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	background-color: #f0e2d2;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
  }

.container {
	border-radius: 5px;
	background-color: #f0ece8;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 30px;
	width: 50%;
	/* margin: auto; */
	margin-top: 70px;
	margin-bottom: 250px;
	box-shadow: inset 0px 0px 200px 1px #eedfd1;
	box-shadow: 0px 50px 60px black;
  }

  input[type=submit] {
	background-color: #ef543f;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }

  input[type=submit]:hover {
	background-color: #da341f;
  }

  h1 {
	  text-align: center;
  }

  h2 {
	  color: black;
	  text-align: center;
  }

  h3 {
	  text-align: center;
  }

  .container h3 {
	  color: black;
	  padding-bottom: 30px;
	  margin-top: -30px;
	  line-height:1.8;
  }

  .container h2 {
	  font-size: 60px;
  }

  label {
	  font-weight: bold;
	  color: black;
  }

  h1 img {
	  margin-right: -60px;
	  margin-top: 30px;
  }
  .second-container {
	border-style: solid;
	background-color: #f0ece8;
	border-width: 5px;
	border-radius: 5px;
	width: 400px;
	margin-top: 70px;
	margin-left: 70px;
	height: 550px;
	box-shadow: inset 0px 0px 200px 1px #eedfd1;
	box-shadow: 0px 50px 60px black;
  }
  .second-container h2 {
	  text-align: center;
	  color: black;
	  font-size: 50px;
  }
  .second-container p {
	  text-align:center;
	  color: #ef543f;
	  word-spacing: 15px;
	  line-height: 1.5;
	  font-size: 20px;
	  font-weight: bold;
  }
  .whole-container {
	display: flex;
	justify-content: center;
  }