/* POP-UP FORM ONLY */

input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
	color: #ef543f;
	text-decoration: none;
	padding-left: 40px;
	padding-right: 40px;
	font-size: x-large;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
	font-family: 'Fjalla One';
  }
  
  button:hover {
	opacity: 0.8;
  }

  .remember-me {
      font-size: 15px;
  }

  .login-form {
      font-size: 20px;
	  background-color: #ef543f;
	  color: #f1e8de;
	  height: 50px;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
  }
  
  img.logo {
	width: 20%;
  }
  
  .form-container {
	padding: 70px;
  }
  
  span.psw {
	float: right;
	padding-top: 16px;
	font-size: 20px;
	color: black;
	font-weight: bold;
  }

  span.psw a {
	  color: #ef543f;
  }
  
  /* The Modal (background) */
  .modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    border-style: solid;
	background-color: #f0ece8;
	border-color: #f0ece8;
	border-width: 5px;
	border-radius: 5px;
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	height: 600px;
  }

  .modal-content2 {
	border-style: solid;
	background-color: #f0ece8;
	border-color: #f0ece8;
	border-width: 5px;
	border-radius: 5px;
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	height: 1450px;
	/* padding-bottom: 200px; */
  }
  
  /* The Close Button (x) */
  .close {
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: red;
	cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)} 
	to {-webkit-transform: scale(1)}
  }
	
  @keyframes animatezoom {
	from {transform: scale(0)} 
	to {transform: scale(1)}
  }

  .login-alignment {
	  text-align: center;
	  padding-top: 30px;
  }

  .reveal-if-active {
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	font-size: 16px;
	transform: scale(0.8);
	transition: 0.5s;
}
.reveal-if-active label {
	display: block;
	margin: 0 0 3px 0;
}
.reveal-if-active input[type=text] {
	width: 100%;
}
input[type="radio"]:checked ~ .reveal-if-active, input[type="checkbox"]:checked ~ .reveal-if-active {
	opacity: 1;
	max-height: 100px;
	padding: 10px 20px;
	transform: scale(1);
	overflow: visible;
}

h4 {
	font-size: 25px;
}

.yes-or-no {
	font-size: 20px;
}
